{% extends 'layout.html.twig' %}

{% block content %}
   <body style="background-image: url(assets/images/boxing-ring.jpg); background-repeat: no-repeat;">
    <div class="container"> 
   	<div class="row lifeBars">
      <div class="one"></div>
      <div class="one"></div>
    </div>
    </div>
    <div class="container fight">
      <div class="row">
        <div class="animation">
          
            <img class="ball" src="assets/images/fight.png">
        </div>
    </div>
    </div>
   	<div class="container fighters">
   		<div class="row">
        {% for fighter in fighters %}
          <div class="selectedFighters">
            <img src="{{ fighters[id_fighter] }}" class="blue rounded" alt="..." style="width: 250px; height: 300px;">
        </div>
        {% endfor %}
   	</div>
   </body>
{% endblock %}