{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Choose your fighter !</h1>
    <ul class="container d-inline-flex">
        {% for fighter in fighters %}

            <li class="list-unstyled">
                <div class="img-thumbnail">
                    {{ fighter.name }}
                    <img src="{{ fighter.images.sm }}">
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
