body
{
	background-image: url(/assets/images/marvel.jpg);
}

*, h1
{
	font-family: 'Anton', sans-serif;
}

h1
{
	position: absolute;
	left: 10%;
	bottom: 80%;
	font-size: 5vw;
	color : red;
}

.container
{
	background-color: black;
}

.container.one
{
	position: absolute;
	top: 15%;
}

.container.two
{
	position: absolute;
	top: 60%;
}


